{% extends "base.html" %}
{% load static %}

{% block title %}
لیست مشتریان | {{ customer.code }}-{{ customer.name }}
{% endblock title %}

{% block content %}
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row g-4 mb-4">
                <div class="col-sm-6 col-xl-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                          <span class="secondary-font fw-medium">متراژ کل فروش</span>
                          <div class="d-flex align-items-baseline mt-2">
                            <h4 class="mb-0 me-2">{{ total_count }}</h4>
                            <small class="text-success">(متر)</small>
                          </div>
                          <small></small>
                        </div>
                        <span class="badge bg-label-success rounded p-2">
                          <i class="bx bx-group bx-sm"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                          <span class="secondary-font fw-medium">مبلغ کل فروش </span>
                          <div class="d-flex align-items-baseline mt-2">
                            <h4 class="mb-0 me-2">{{ total_price}}</h4>
                            <small class="text-success">(ریال)</small>
                          </div>
                          <small></small>
                        </div>
                        <span class="badge bg-label-primary rounded p-2">
                          <i class="bx bx-user bx-sm"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Users List Table -->
              <div class="card">
                <h5 class="card-header heading-color">لیست اقلام فروش برای مشتری: {{ customer.code }} - {{ customer.name }}</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>کد محصول</th>
                        <th>نام محصول</th>
                        <th>متراژ</th>
                        <th>تاریخ</th>
                        <th>مبلغ خرید</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for sale in sale %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="#">{{ product.code }}</a></td>
                        <td><a href="#">{{ product.name }}</a></td>
                        <td>{{ sale.count }}</td>
                        <td>
                            {{ sale.date.year }}/{{ sale.date.month }}/{{ sale.date.day }}
                        </td>
                        <td>
                            {{ sale.price_total }}
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
{% endblock content %}