{% extends "base.html" %}

{% block title %}
تاریخ‌ها
{% endblock title %}

{% block content %}
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-md">
                  <small class="text-light fw-semibold"></small>
                  <div class="accordion mt-3 accordion-header-primary" id="accordionWithIcon">
                    <div class="card accordion-item active">
                      <h2 class="accordion-header d-flex align-items-center" style="line-height:3">
                        <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionWithIcon-1" aria-expanded="true">
                          <i class="bx bx-bar-chart-alt-2 me-2"></i>
                          مشاهده فروش برای
                        </button>
                      </h2>

                      <div id="accordionWithIcon-1" class="accordion-collapse collapse">
                        <div class="accordion-body lh-2 mb-3">
                          <div class="demo-inline-spacing">
                           <a href="{% url 'store:date-duration' ddn='3' %}" class="btn  rounded-pill btn-outline-primary">۳ روز</a>
                           <a href="{% url 'store:date-duration' ddn='7' %}" class="btn  rounded-pill btn-outline-primary">۷ روز</a>
                           <a href="{% url 'store:date-duration' ddn='30' %}" class="btn  rounded-pill btn-outline-primary">30 روز</a>
                           <a href="{% url 'store:date-duration' ddn='90' %}" class="btn  rounded-pill btn-outline-primary">90 روز</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divider text-start">
                  <div class="divider-text"></div>
                </div>
              <div class="row">
                <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header align-items-center">
                      <h5 class="mb-0">تاریخ مورد نظر خود را انتخاب کنید</h5>
                      {% if messages %}
                      {% for message in messages %}
                      <div class="alert alert-solid-danger alert-dismissible d-flex align-items-center mt-3" role="alert">
                        <i class="bx bx-xs bx-store me-2"></i>
                        <span>{{ message }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {% endfor %}
                      {% endif %}
                    </div>
                    <div class="card-body">
                      <form method="post">
                        {% csrf_token %}
                        <div class="row g-3">
                          <div class="col-md-4">
                            <label class="form-label">روز</label>
                            {{ form.day }}
                          </div>
                          <div class="col-md-4">
                            <label class="form-label">ماه</label>
                            <div class="input-group input-group-merge">
                              {{ form.month }}
                            </div>
                          </div>
                          <div class="col-md-4">
                            <label class="form-label">سال</label>
                            <div class="input-group input-group-merge">
                              {{ form.year }}
                            </div>
                          </div>
                        </div>
                        <div class="pt-4">
                          <button type="submit" class="btn btn-primary me-sm-3 me-1">ارسال</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
            <!-- / Content -->
{% endblock content %}



                        