{% extends "base.html" %}

{% block title %}
محصولات
{% endblock title %}

{% block content %}
    <div class="content-wrapper">
            <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card">
                <h5 class="card-header heading-color">لیست محصولات<input class="form-control" id="myInput" type="text" placeholder="جستجو..."></h5>
                <div class="table-responsive text-nowrap" style="height:600px;overflow:auto;">
                  <table id="datatable" class="table table-striped">
                    <thead>
                      <tr>
                        <th>ردیف</th>
                        <th>کد محصول</th>
                        <th>نام محصول</th>
                        <th>مقدار فروش</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for product in product %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ product.code }}</td>
                        <td>{{ product.name }}</td>
                        <td></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#datatable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
{% endblock script %}