{% extends "base.html" %}

{% block title %}
{{ product.code }} | {{ product.name }}
{% endblock title %}

{% block content %}
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row g-4 mb-4">
                <div class="col-sm-6 col-xl-4">
                  <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">مشخصات محصول</h5>
                        <p class="card-text">نام محصول : {{ product.name }}</p>
                        <p class="card-text">کد محصول : {{ product.code }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">آمار فروش کل این محصول</h5>
                      <p class="card-text">مقدار کل : {{ total_count }}</p>
                      <p class="card-text">مبلغ کل : {{ total_price }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-12">
                  <div class="card">
                    <div class="card-body">
                      <canvas id="myChart" width="400" height="200"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-12">
                  <div class="card">
                    <div class="card-body">
                      <canvas id="myChart2" width="400" height="200"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
        </div>
{% endblock content %}
        {% block script %}
<script>
const ctx = document.getElementById('myChart');

new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in result.keys %}
                    '{{ item }}',
                    {% endfor %}],
        datasets: [{
            label: 'مقدار',
            data: [{% for key,item in result.items %}'{{ item.count|safe }}',{% endfor %}],
            backgroundColor: 'steelblue'
        }]
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: 'نمودار فروش {{ product.name }}',
                font: {
                    size: 20
                }
            }
        },
        scales: {
            x: {
                title: {
                    display: true,
                    text: 'مشتری',
                    font: {
                        size: 16
                    }
                }
            },
            y: {
                title: {
                    display: true,
                    text: 'مقدار فروش (متر)',
                    font: {
                        size: 16
                    }
                }
            }
        }
    }
});
</script>
<script>
const ctx2 = document.getElementById('myChart2');

new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: [{% for item in result.keys %}'{{ item|safe }}',{% endfor %}],
        datasets: [{
            label: 'مبلغ',
            data: [{% for key,item in result.items %}'{{ item.price|safe }}',{% endfor %}],
            backgroundColor: 'steelblue'
        }]
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: 'نمودار فروش {{ product.name }}',
                font: {
                    size: 20
                }
            }
        },
        scales: {
            x: {
                title: {
                    display: true,
                    text: 'مشتری',
                    font: {
                        size: 16
                    }
                }
            },
            y: {
                title: {
                    display: true,
                    text: 'مبلغ فروش (ریال)',
                    font: {
                        size: 16
                    }
                }
            }
        }
    }
});
</script>
        {% endblock script %}