{% extends "base.html" %}

{% block title %}
لیست فروش
{% endblock title %}

{% block content %}
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row g-4 mb-4">
                <div class="col-sm-6 col-xl-12">
                  <div class="card">
                    <div class="card-body">
                      <canvas id="myChart" width="400" height="200"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Users List Table -->
              <div class="card">
                <h5 class="card-header heading-color">فروش در تاریخ : {{ date.year }}/{{ date.month }}/{{ date.day }}</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>نام مشتری</th>
                        <th>نام کالا</th>
                        <th>مقدار</th>
                        <th>فی</th>
                        <th>مبلغ</th>
                        <th>تاریخ</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for sale in page_obj %}
                      <tr>
                        <td>{{ forloop.counter|add:offset }}</td>
                        <td><a href="{% url 'store:customer-details' cid=sale.customer.pk %}">{{ sale.customer.name }}</a></td>
                        <td><a href="{% url 'store:product-details' pid=sale.product.pk %}">{{ sale.product.name }}</a></td>
                        <td>
                            {{ sale.count }}
                        </td>
                        <td>
                            {{ sale.price }}
                        </td>
                        <td>
                            {{ sale.price_total }}
                        </td>
                        <td>
                            {{ sale.date.year }}/{{ sale.date.month }}/{{ sale.date.day }}
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  {% if page_obj.has_next or page_obj.has_previous %}
                  <nav aria-label="Page navigation" class="mt-2">
                      <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
											  {% if page_obj.number == 2 %}
                        <li class="page-item first">
                          <a class="page-link" href="?{{ request.GET.urlencode }}&page=1"><i class="tf-icon bx bx-chevrons-left"></i></a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="?{{ request.GET.urlencode }}&page=1">1</a>
                        </li>
                        {% else %}
                        <li class="page-item first">
                          <a class="page-link" href="?{{ request.GET.urlencode }}&page=1"><i class="tf-icon bx bx-chevrons-left"></i></a>
                        </li>
                        <li class="page-item prev">
                          <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}"><i class="tf-icon bx bx-chevron-left"></i></a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                        {% endif %}
                        {% endif %}
                        <li class="page-item active">
                          <a class="page-link" href="javascript:void(0);">{{ page_obj.number }}</a>
                        </li>
                        {% if page_obj.has_next %}
											  {% if page_obj.next_page_number == page_obj.paginator.num_pages %}
                        <li class="page-item">
                          <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                        </li>
                        <li class="page-item last">
                          <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}"><i class="tf-icon bx bx-chevrons-right"></i></a>
                        </li>
                        {% else %}
                        <li class="page-item">
                          <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                        </li>
                        <li class="page-item next">
                          <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}"><i class="tf-icon bx bx-chevron-right"></i></a>
                        </li>
                        <li class="page-item last">
                          <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.paginator.num_pages }}"><i class="tf-icon bx bx-chevrons-right"></i></a>
                        </li>
                        {% endif %}
                        {% endif %}
                      </ul>
                    </nav>
                    {% endif %}
                </div>
              </div>
            </div>
        </div>

{% endblock content %}
        {% block script %}
<script>
const ctx = document.getElementById('myChart');

new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in xvalue %}'{{ item|safe }}',{% endfor %}],
        datasets: [{
            label: '{{ date.year }}/{{ date.month }}/{{ date.day }}',
            data: {{ yvalue }},
            backgroundColor: 'steelblue'
        }]
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: 'نمودار فروش ',
                font: {
                    size: 20
                }
            }
        },
        scales: {
            x: {
                title: {
                    display: true,
                    text: 'مشتری',
                    font: {
                        size: 16
                    }
                }
            },
            y: {
                title: {
                    display: true,
                    text: 'مقدار فروش (متر)',
                    font: {
                        size: 16
                    }
                }
            }
        }
    }
});
</script>
        {% endblock script %}